<ion-header [translucent]="true">
  <ion-toolbar>
    <div align="center"> <img src="/assets/kapak/logo1.png"></div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-slides pager="true">

      <ion-slide *ngFor="let slide of slides" text-center>
  
        <div class="slide-img-padding">
          <img [src]="slide.img" class="slide-img">
        </div>
        <div>
          <h3 [innerHTML]="slide.titulo"></h3>
        </div>
  
  
      </ion-slide>
    </ion-slides>

    <div>
      <br>
    </div>
    <div class="login_submit">
      <button type="submit" class="btn btn-success" routerLink="/login">
        Iniciar Sesión
      </button>
      <div>
        <br>
      </div>
      <button type="submit" class="btn btn-success" routerLink="/registro">
        Registrarse
      </button>
    </div>
  
    <div align="center" style="font-size: 11.8px;font-family: Arial, heveltica, sans-serif; font-weight: bold;    padding-top: 20px;">
      <div style="position: relative;display: inline-block;float: center;">
        <a routerLink="">¿Olvidaste tu Contraseña?</a>
      </div>
    </div>
  </div>
</ion-content>
