<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Registro
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="customer_login">
    <div class="container">
      <h2 style="text-align: center;"><img src="assets/kapak/logo.png" alt="" style="width: 50%;"></h2>

      <div class="col-lg-6 col-md-6 " style="background-color: #fcfcfc;    padding: 35px;
      border-radius: 40px;">

        <div class="account_form">

          <form [formGroup]="form" (submit)="onSubmit()">
            <ion-list lines="full" class="ion-no-margin ion-no-padding">
              <ion-item>
                <ion-label position="floating">Nombre <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="text" formControlName="firstname"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Apellido <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="text" formControlName="lastname"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Número de Telefono <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="number" formControlName="numTelefono"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Correo electrónico <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="email" formControlName="correo"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Contraseña <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="password" formControlName="password"></ion-input>
              </ion-item>

            </ion-list>

            <div>
              <br>
            </div>
    
            <!-- Sign in button -->

            <div class="login_submit">
              <button type="submit" class="btn btn-success" mdbBtn [disabled]="form.invalid">
                Registrarse
              </button>
            </div>

            <div
              style="font-size: 11.8px;font-family: Arial, heveltica, sans-serif; font-weight: bold;    padding-top: 20px;">
              <div style="display: inline; color: #686560;">
                <a routerLink="/login">¿Iniciar sesión?</a>
              </div>
              <div>

              </div>
              <div style="position: relative;display: inline-block;float: left;">
                <a routerLink="">¿Olvidaste tu Contraseña?</a>
              </div>

            </div>

          </form>


        </div>
      </div>
    </div>
  </div>





</ion-content>